body {
  background: #ffffff;
  color: #000000;
}
table {
  color: #333333;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #333333;
}
a {
  color: #000000;
}
a:focus,
a:hover {
  color: #000000;
}
:focus {
  color: #000000;
}
.wrapper {
  background: #ffffff;
}
.wrapper a:hover {
  color: #000000;
}
.wrapper a:after {
  background: #000000;
}
.site-footer a:hover {
  color: #000000;
}
.product-filter ul li a:hover {
  color: #000000;
}
.message-form .loading-bar {
  background: #1a1a1a;
}
.message-form .loading-bar span {
  background: #000000;
}
.skin--brand-primary {
  color: #000000;
}
.btn.btn-primary {
  background: #000000;
}
.btn.btn-primary:hover {
  background: #000000;
}
.btn.btn-secondary {
  background: #333333;
}
.btn.btn-secondary:hover {
  background: #1a1a1a;
}
.site-footer .footer-bottom a {
  color: #333333;
}
.site-footer .footer-bottom a:hover {
  color: #000000;
}
.site-footer .footer-bottom a:after {
  color: #000000;
}
p {
  color: #333333;
}
.section-title p {
  color: #333333;
}
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 {
  color: #000000;
}
.section-title h1 small,
.section-title h2 small,
.section-title h3 small,
.section-title h4 small,
.section-title h5 small,
.section-title h6 small {
  color: #333333 !important;
}
.blog-posts .isotope-item .box-holder .post-info {
  border-color: #cfbfb3;
}
.blog-posts .box-holder .post-format .quote-holder {
  background: #ffffff;
}
.blog-posts .box-holder .post-format .quote-holder blockquote {
  color: #333333;
}
.blog-posts .box-holder .post-format .post-type {
  background: #ffffff;
}
.blog-posts .box-holder .post-format .post-type i {
  color: #000000;
}
.blog-posts .box-holder .post-format .hover-state i {
  color: #ffffff;
}
.blog-posts .box-holder .post-info h2 a {
  color: #000000;
}
.blog-posts .box-holder .post-info .details .category {
  color: #333333;
}
.blog-posts .box-holder .post-info .details .date {
  color: #333333;
}
.widget.widget_tag_cloud a {
  color: #000000;
  background: #ffffff;
}
.widget.widget_tag_cloud a:hover {
  background: #f2f2f2;
}
.wpb_wrapper .wpb_text_column blockquote {
  border-left-color: #000000;
}
.post-formatting ul li,
.post-formatting ol li {
  color: #333333;
}
.post-formatting blockquote {
  border-left-color: #000000;
}
.post-formatting blockquote p {
  color: #333333;
}
.post-formatting .wp-caption .wp-caption-text {
  background: #ffffff;
}
.labeled-textarea-row textarea {
  background-image: linear-gradient(#ffffff 1px,transparent 1px);
}
.labeled-textarea-row textarea:focus {
  color: #333;
}
.cd-google-map .cd-zoom-in,
.cd-google-map .cd-zoom-out {
  background-color: #000000;
}
.cd-google-map .cd-zoom-in:hover,
.cd-google-map .cd-zoom-out:hover {
  background-color: #000000;
}
.single-blog-holder .blog-head-holder {
  background: #ffffff;
}
.single-blog-holder .blog-head-holder .quote-holder {
  background: #ffffff;
}
.single-blog-holder .blog-head-holder .quote-holder:before {
  color: #333333;
}
.single-blog-holder .blog-head-holder .quote-holder blockquote {
  color: #333333;
}
.single-blog-holder .tags-holder a {
  color: #000000;
  background: #ffffff;
}
.single-blog-holder .tags-holder a:hover {
  background: #f2f2f2;
}
.single-blog-holder pre {
  background: #ffffff;
  border-color: #cfbfb3;
  color: #000000;
}
.single-blog-holder .blog-author-holder .author-name:hover {
  color: #000000;
}
.single-blog-holder .blog-author-holder .author-name:hover em {
  color: #333333;
}
.single-blog-holder .blog-author-holder .author-name em {
  color: #333333;
}
.single-blog-holder .blog-author-holder .author-link {
  color: #000000;
}
.single-blog-holder .post-controls span {
  color: #333333;
}
.single-blog-holder .comments-holder {
  background: #ffffff;
}
.single-blog-holder .comments-holder:before {
  border-top-color: #ffffff;
}
.single-blog-holder .comments-holder .comment-holder + .comment-respond {
  background: #ffffff;
}
.single-blog-holder .comments-holder .comment-holder .commenter-image .comment-connector {
  border-color: #cfbfb3;
}
.single-blog-holder .comments-holder .comment-holder .commenter-details .comment-text p {
  color: #333333;
}
.single-blog-holder .comments-holder .comment-holder .commenter-details .date {
  color: #333333;
}
.single-blog-holder .details .category {
  color: #333333;
}
.single-blog-holder .details .category a {
  color: #333333;
}
.single-blog-holder .details .date {
  color: #333333;
}
.single-blog-holder .details .date a {
  color: #333333;
}
.single-blog-holder .details .tags-list {
  color: #333333;
}
.single-blog-holder .details .tags-list a {
  color: #333333;
}
.single-blog-holder .post-controls .next-post:hover i,
.single-blog-holder .post-controls .prev-post:hover i {
  color: #000000;
}
.single-blog-holder .post-controls .next-post:hover strong,
.single-blog-holder .post-controls .prev-post:hover strong {
  color: #000000;
}
.single-blog-holder .post-controls .next-post strong,
.single-blog-holder .post-controls .prev-post strong {
  color: #000000;
}
.single-blog-holder .post-controls .next-post i,
.single-blog-holder .post-controls .prev-post i {
  color: #000000;
}
::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}
hr {
  border-color: #cfbfb3;
}
footer.site-footer {
  background-color: #ffffff;
}
footer.site-footer .footer-widgets .section h1,
footer.site-footer .footer-widgets .section h2,
footer.site-footer .footer-widgets .section h3 {
  color: #000000;
}
.wpb_wrapper .wpb_tabs.tabs-style-minimal .ui-tabs .wpb_tabs_nav li a {
  color: #333333;
}
.wpb_wrapper .wpb_tabs.tabs-style-minimal .ui-tabs .wpb_tabs_nav li a:hover {
  color: #1a1a1a;
}
.wpb_wrapper .wpb_tabs.tabs-style-minimal .ui-tabs .wpb_tabs_nav li.ui-tabs-active a {
  color: #000000;
  border-bottom-color: #000000;
}
.wpb_wrapper .wpb_tabs.tabs-style-default .ui-tabs .wpb_tab {
  background: #ffffff;
}
.wpb_wrapper .wpb_tabs.tabs-style-default .ui-tabs .wpb_tabs_nav li {
  border-bottom-color: #ffffff !important;
  background: #ffffff;
}
.wpb_wrapper .wpb_tabs.tabs-style-default .ui-tabs .wpb_tabs_nav li a {
  color: #333333;
}
.wpb_wrapper .wpb_tabs.tabs-style-default .ui-tabs .wpb_tabs_nav li a:hover {
  color: #1a1a1a;
}
.wpb_wrapper .wpb_tabs.tabs-style-default .ui-tabs .wpb_tabs_nav li.ui-tabs-active a {
  color: #000000;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section {
  background: #ffffff;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section .wpb_accordion_header a {
  color: #000000;
}
.top-menu-container {
  background: #000000;
}
.top-menu-container .widget .widgettitle {
  color: #ffffff;
}
.top-menu-container .widget a {
  color: #333333 !important;
}
.top-menu-container .widget a:after {
  background-color: #333333 !important;
}
.top-menu-container .top-menu ul.menu > li ul {
  background: #ffffff;
}
.top-menu-container .top-menu ul.menu > li ul li a {
  color: #000000 !important;
}
.top-menu-container .top-menu ul.menu > li ul li a:after {
  background: #000000;
}
.top-menu-container .top-menu ul:after {
  border-right-color: #ffffff !important;
}
.top-menu-container .top-menu ul li a {
  color: #ffffff !important;
}
.top-menu-container .top-menu ul li a:hover {
  color: #000000 !important;
}
.product-filter ul li a {
  color: #333333;
}
.single-portfolio-holder .social .likes {
  background: #ffffff;
}
.single-portfolio-holder .social .likes .fa-heart {
  color: #000000;
}
.single-portfolio-holder .social .share-social .social-links a {
  color: #333333;
}
.single-portfolio-holder .portfolio-big-navigation a {
  color: #000000;
}
.single-portfolio-holder .portfolio-big-navigation a:hover {
  color: #0d0d0d;
}
.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
  color: #000000;
}
.dash {
  background: #ffffff;
}
.alert.alert-default {
  background-color: #000000;
}
.hover-state {
  background: #000000;
}
.portfolio-holder .thumb .hover-state .likes a i {
  color: #000000;
}
.portfolio-holder .thumb .hover-state .likes a .counter {
  color: #000000;
}
.single-portfolio-holder .details .services ul li {
  color: #333333;
}
.single-portfolio-holder.portfolio-type-3 .gallery-slider .slick-prev:hover,
.single-portfolio-holder.portfolio-type-3 .gallery-slider .slick-next:hover {
  color: #000000;
}
.single-portfolio-holder .gallery.gallery-type-description .row .lgrad {
  background-image: linear-gradient(to bottom,transparent 0%,rgba(255,255,255,0.9) 100%);
}
.single-portfolio-holder.portfolio-type-5 .portfolio-slider-nav a:hover span {
  background-color: rgba(0,0,0,0.5);
}
.single-portfolio-holder.portfolio-type-5 .portfolio-slider-nav a.current span {
  background: #000000;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container {
  background: #ffffff;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container.is-collapsed .portfolio-description-showinfo {
  background: #ffffff;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container .portfolio-description-showinfo .expand-project-info svg {
  fill: #000000;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container .portfolio-description-fullinfo {
  background: #ffffff;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container .portfolio-description-fullinfo .lgrad {
  background-image: linear-gradient(to bottom,transparent 0%,rgba(255,255,255,0.9) 100%);
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container .portfolio-description-fullinfo .collapse-project-info svg {
  fill: #000000;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container .portfolio-description-fullinfo .project-show-more-link {
  color: #333333;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-description-container .portfolio-description-fullinfo .project-show-more-link .for-more {
  color: #000000;
}
.search-results-holder .result-box h3 a {
  color: #000000;
}
.search-results-holder .result-box + .result-box {
  border-top-color: #cfbfb3;
}
.team-holder .new-member-join {
  background: #ffffff;
}
.team-holder .new-member-join .join-us .your-image {
  color: #333333;
}
.team-holder .new-member-join .join-us .details h2 {
  color: #000000;
}
.team-holder .new-member-join .join-us .details .text a {
  color: #000000;
}
.team-holder .new-member-join .join-us .details .text a:after {
  background-color: #000000;
}
.logos-holder .c-logo {
  border-color: #cfbfb3;
}
.logos-holder .c-logo .hover-state {
  background: #000000;
}
.error-holder {
  background: #ffffff;
}
.error-holder .box {
  background: #000000;
}
.error-holder .box .error-type {
  color: #ffffff;
}
.error-holder .error-text {
  color: #000000;
}
.portfolio-holder .dribbble-container .dribbble_shot:hover .dribbble-title {
  background-color: #000000;
}
.bg-main-color {
  background: #000000;
}
.coming-soon-container .message-container {
  color: #ffffff;
}
.coming-soon-container p {
  color: #ffffff;
}
.coming-soon-container .social-networks-env a i {
  color: #000000;
}
.blog-sidebar .widget a {
  color: #000000;
}
.blog-sidebar .widget li {
  color: #333333;
}
.blog-sidebar .widget.widget_recent_comments li + li {
  border-top-color: #ffffff;
}
.blog-sidebar .widget.widget_search .search-bar .form-control {
  background: #ffffff !important;
  color: #333333 !important;
}
.blog-sidebar .widget.widget_search .search-bar .form-control::-webkit-input-placeholder {
  color: #333333;
}
.blog-sidebar .widget.widget_search .search-bar .form-control:-moz-placeholder {
  color: #333333;
}
.blog-sidebar .widget.widget_search .search-bar .form-control::-moz-placeholder {
  color: #333333;
}
.blog-sidebar .widget.widget_search .search-bar .form-control:-ms-input-placeholder {
  color: #333333;
}
.blog-sidebar .widget.widget_search .search-bar input.go-button {
  color: #000000;
}
.image-placeholder {
  background: #ffffff;
}
.show-more .reveal-button {
  border-color: #ffffff;
}
.show-more .reveal-button a {
  color: #000000;
}
.show-more.is-finished .reveal-button .finished {
  color: #000000;
}
.pagination-container span.page-numbers,
.pagination-container a.page-numbers {
  color: #000000;
}
.pagination-container span.page-numbers:after,
.pagination-container a.page-numbers:after {
  background-color: #000000;
}
.pagination-container span.page-numbers:hover,
.pagination-container span.page-numbers.current,
.pagination-container a.page-numbers:hover,
.pagination-container a.page-numbers.current {
  color: #000000;
}
.fluidbox-overlay {
  background-color: #ffffff;
  opacity: 0.6 !important;
}
.comparison-image-slider .cd-handle {
  background-color: #000000 !important;
}
.comparison-image-slider .cd-handle:hover {
  background-color: #000000 !important;
}
.about-me-box {
  background: #ffffff !important;
}
.sidebar-menu-wrapper {
  background: #ffffff;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu div.menu > ul > li > a {
  color: #000000;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu > li > a {
  color: #000000;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu > li > a:hover {
  color: #000000;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu > li > a:after {
  background-color: #000000;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu ul > li:hover > a {
  color: #000000;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu ul > li > a {
  color: #333333;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu ul > li > a:hover {
  color: #000000;
}
.maintenance-mode .wrapper,
.coming-soon-mode .wrapper {
  background: #000000;
}
.header-logo.logo-text {
  color: #000000;
}
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main ul.menu ul li a,
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main div.menu > ul ul li a {
  color: #ffffff;
}
.portfolio-holder .item-box .photo .on-hover {
  background-color: #000000;
}
.loading-spinner-1 {
  background-color: #000000;
}
.top-menu-container .close-top-menu {
  color: #ffffff;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-navigation a:hover {
  color: #ffffff;
}
.single-portfolio-holder.portfolio-type-5 .portfolio-navigation a:hover i {
  color: #ffffff;
}
.portfolio-holder .item-box .info p a:hover {
  color: #000000;
}
.mobile-menu-wrapper .mobile-menu-container ul.menu li a:hover {
  color: #000000;
}
.mobile-menu-wrapper .mobile-menu-container ul.menu li.current-menu-item > a,
.mobile-menu-wrapper .mobile-menu-container ul.menu li.current_page_item > a,
.mobile-menu-wrapper .mobile-menu-container ul.menu li.current-menu-ancestor > a,
.mobile-menu-wrapper .mobile-menu-container ul.menu li.current_page_ancestor > a,
.mobile-menu-wrapper .mobile-menu-container div.menu > ul li.current-menu-item > a,
.mobile-menu-wrapper .mobile-menu-container div.menu > ul li.current_page_item > a,
.mobile-menu-wrapper .mobile-menu-container div.menu > ul li.current-menu-ancestor > a,
.mobile-menu-wrapper .mobile-menu-container div.menu > ul li.current_page_ancestor > a {
  color: #000000;
}
.maintenance-mode .wrapper a,
.coming-soon-mode .wrapper a {
  color: #ffffff;
}
.maintenance-mode .wrapper a:after,
.coming-soon-mode .wrapper a:after {
  background-color: #ffffff;
}
.mobile-menu-wrapper .mobile-menu-container .search-form label {
  color: #333333;
}
.mobile-menu-wrapper .mobile-menu-container .search-form input:focus + label {
  color: #000000;
}
.vjs-default-skin .vjs-play-progress {
  background-color: #000000;
}
.vjs-default-skin .vjs-volume-level {
  background: #000000;
}
.portfolio-holder .item-box .info h3 a {
  color: #333333;
}
.blog-sidebar .widget a {
  color: #000000;
}
.blog-sidebar .widget a:after {
  background: #000000;
}
.blog-sidebar .widget .product_list_widget li .product-details .product-meta {
  color: #666666;
}
.blog-sidebar .widget .product_list_widget li .product-details .product-meta .proruct-rating em {
  color: #666666;
}
.blog-sidebar .widget .product_list_widget li .product-details .product-name {
  color: #000000;
}
.dropdown-menu > li > a {
  color: #000000;
}
.dropdown {
  color: #000000;
}
.dropdown .btn:hover,
.dropdown .btn:focus,
.dropdown .btn.focus {
  color: #000000;
}
.dropdown .dropdown-menu {
  color: #000000;
  background: #cfbfb3;
}
.dropdown .dropdown-menu li {
  border-top-color: #bfaa9a;
}
.dropdown.open .btn {
  background: #cfbfb3;
}
.widget.widget_product_search .search-bar input[name="s"],
.widget.widget_search .search-bar input[name="s"] {
  background: #cfbfb3;
  color: #333333;
}
.widget.widget_product_search .search-bar input[name="s"]::-webkit-input-placeholder,
.widget.widget_search .search-bar input[name="s"]::-webkit-input-placeholder {
  color: #333333;
}
.widget.widget_product_search .search-bar input[name="s"]:-moz-placeholder,
.widget.widget_search .search-bar input[name="s"]:-moz-placeholder {
  color: #333333;
}
.widget.widget_product_search .search-bar input[name="s"]::-moz-placeholder,
.widget.widget_search .search-bar input[name="s"]::-moz-placeholder {
  color: #333333;
}
.widget.widget_product_search .search-bar input[name="s"]:-ms-input-placeholder,
.widget.widget_search .search-bar input[name="s"]:-ms-input-placeholder {
  color: #333333;
}
.widget.widget_product_search .search-bar input[type=submit],
.widget.widget_search .search-bar input[type=submit] {
  color: #000000;
}
.widget.widget_shopping_cart .widget_shopping_cart_content > .total strong {
  color: #000000;
}
.widget.widget_shopping_cart .widget_shopping_cart_content .product_list_widget {
  border-bottom-color: #cfbfb3;
}
.widget.widget_price_filter .price_slider_wrapper .price_slider {
  background: #cfbfb3;
}
.widget.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-range,
.widget.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
  background: #000000;
}
.widget.widget_price_filter .price_slider_wrapper .price_slider_amount .price_label {
  color: #666666;
}
.woocommerce {
  background: #ffffff;
}
.woocommerce .onsale {
  background: #000000;
  color: #ffffff;
}
.woocommerce .product .item-info h3 a {
  color: #ffffff;
}
.woocommerce .product .item-info .price ins,
.woocommerce .product .item-info .price > .amount {
  color: #000000;
}
.woocommerce .product .item-info .price del {
  color: #333333;
}
.woocommerce .product .item-info .product-loop-add-to-cart-container a {
  color: #333333;
}
.woocommerce .product .item-info .product-loop-add-to-cart-container a:after {
  background-color: #333333;
}
.woocommerce .product .item-info .product-loop-add-to-cart-container a:hover {
  color: #000000;
}
.woocommerce .product .item-info .product-loop-add-to-cart-container a:hover:after {
  background-color: #000000;
}
.woocommerce .product.catalog-layout-default .item-info h3 a {
  color: #000000;
}
.woocommerce .product.catalog-layout-default .item-info .product-loop-add-to-cart-container a {
  color: #333333;
}
.woocommerce .product.catalog-layout-default .item-info .product-loop-add-to-cart-container a:after {
  background-color: #333333;
}
.woocommerce .product.catalog-layout-default .item-info .product-loop-add-to-cart-container a:hover {
  color: #000000;
}
.woocommerce .product.catalog-layout-default .item-info .product-loop-add-to-cart-container a:hover:after {
  background-color: #000000;
}
.woocommerce .product.catalog-layout-full-bg .product-internal-info,
.woocommerce .product.catalog-layout-full-transparent-bg .product-internal-info {
  background: rgba(0,0,0,0.9);
}
.woocommerce .product.catalog-layout-full-bg .item-info h3 a,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info h3 a {
  color: #ffffff;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-loop-add-to-cart-container .add-to-cart-link:before,
.woocommerce .product.catalog-layout-full-bg .item-info .product-loop-add-to-cart-container .add-to-cart-link:after,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-loop-add-to-cart-container .add-to-cart-link:before,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-loop-add-to-cart-container .add-to-cart-link:after {
  color: #ffffff !important;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-loop-add-to-cart-container .tooltip .tooltip-arrow,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-loop-add-to-cart-container .tooltip .tooltip-arrow {
  border-left-color: #ffffff;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-loop-add-to-cart-container .tooltip .tooltip-inner,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-loop-add-to-cart-container .tooltip .tooltip-inner {
  color: #000000;
  background: #ffffff;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-bottom-details .price,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-bottom-details .price {
  color: #ffffff;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-bottom-details .price del,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-bottom-details .price del {
  color: rgba(255,255,255,0.8);
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-bottom-details .price del .amount,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-bottom-details .price del .amount {
  color: rgba(255,255,255,0.8);
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-bottom-details .price ins .amount,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-bottom-details .price ins .amount {
  border-bottom-color: #ffffff;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-bottom-details .price .amount,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-bottom-details .price .amount {
  color: #ffffff;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-terms,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-terms {
  color: #ffffff !important;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-terms a,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-terms a {
  color: #ffffff !important;
}
.woocommerce .product.catalog-layout-full-bg .item-info .product-terms a:after,
.woocommerce .product.catalog-layout-full-bg .item-info .product-terms a:before,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-terms a:after,
.woocommerce .product.catalog-layout-full-transparent-bg .item-info .product-terms a:before {
  background: #ffffff;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info h3 a {
  color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-terms {
  color: #000000 !important;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-terms a {
  color: #000000 !important;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-terms a:after,
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-terms a:before {
  background: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container .add-to-cart-link:after,
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container .add-to-cart-link:before {
  color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container a {
  color: #333333;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container a:after {
  background-color: #333333;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container a:hover {
  color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container a:hover:after {
  background-color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container .tooltip-inner {
  background-color: #000000;
  color: #ffffff;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .product-loop-add-to-cart-container .tooltip-arrow {
  border-left-color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .price {
  color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .price .amount {
  color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .price ins .amount {
  border-bottom-color: #000000;
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .price del {
  color: rgba(0,0,0,0.65);
}
.woocommerce .product.catalog-layout-transparent-bg .item-info .product-bottom-details .price del .amount {
  color: rgba(0,0,0,0.65);
}
.woocommerce .product.catalog-layout-distanced-centered .item-info h3 a {
  color: #000000;
}
.woocommerce .product.catalog-layout-distanced-centered .item-info .price .amount,
.woocommerce .product.catalog-layout-distanced-centered .item-info .price ins,
.woocommerce .product.catalog-layout-distanced-centered .item-info .price ins span {
  color: #404040;
}
.woocommerce .product.catalog-layout-distanced-centered .item-info .price del {
  color: rgba(51,51,51,0.65);
}
.woocommerce .product.catalog-layout-distanced-centered .item-info .price del .amount {
  color: rgba(51,51,51,0.65);
}
.woocommerce .product.catalog-layout-distanced-centered .item-info .product-loop-add-to-cart-container .add_to_cart_button {
  color: #666666;
}
.woocommerce .product.catalog-layout-distanced-centered .item-info .product-loop-add-to-cart-container .add_to_cart_button.nh {
  color: #000000;
}
.woocommerce .product.catalog-layout-distanced-centered .item-info .product-loop-add-to-cart-container .add_to_cart_button:hover {
  color: #030303;
}
.woocommerce .product.catalog-layout-distanced-centered .product-internal-info {
  background: rgba(255,255,255,0.9);
}
.woocommerce .dropdown .dropdown-menu li a {
  color: #333333;
}
.woocommerce .dropdown .dropdown-menu .active a,
.woocommerce .dropdown .dropdown-menu li a:hover {
  color: #000000 !important;
}
.woocommerce #review_form_wrapper .form-submit input#submit {
  background-color: #000000;
}
.woocommerce .star-rating .star-rating-icons .circle i {
  background-color: #000000;
}
.woocommerce .product .item-info {
  color: #000000;
}
.woocommerce .shop_table .cart_item .product-subtotal span {
  color: #000000;
}
.woocommerce .shop_table .cart-collaterals .cart-buttons-update-checkout .checkout-button {
  background-color: #000000;
}
.woocommerce .checkout-info-box .woocommerce-info {
  border-top: 3px solid #000000 !important;
}
.woocommerce .checkout-info-box .woocommerce-info a {
  color: #000000;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-notice,
.woocommerce-message {
  color: #ffffff;
}
.woocommerce-error li,
.woocommerce-info li,
.woocommerce-notice li,
.woocommerce-message li {
  color: #ffffff;
}
.replaced-checkboxes:checked + label:before,
.replaced-radio-buttons:checked + label:before {
  background-color: #000000;
}
.woocommerce .blockOverlay {
  background: rgba(255,255,255,0.8) !important;
}
.woocommerce .blockOverlay:after {
  background-color: #000000;
}
.woocommerce .order-info mark {
  background-color: #000000;
}
.woocommerce .shop-categories .product-category-col > .product-category a:hover h3,
.woocommerce .shop_table .cart_item .product-remove a:hover i {
  color: #000000;
}
.woocommerce-notice,
.woocommerce-message {
  background-color: #000000;
  color: #ffffff;
}
.btn-primary,
.checkout-button {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.checkout-button:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.menu-cart-icon-container.menu-skin-dark .cart-icon-link {
  color: #333333;
}
.menu-cart-icon-container.menu-skin-dark .cart-icon-link:hover {
  color: #262626;
}
.menu-cart-icon-container.menu-skin-dark .cart-icon-link .items-count {
  background-color: #000000 !important;
}
.menu-cart-icon-container.menu-skin-light .cart-icon-link {
  color: #ffffff;
}
.menu-cart-icon-container.menu-skin-light .cart-icon-link .items-count {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.menu-cart-icon-container .lab-wc-mini-cart-contents .cart-items .cart-item .product-details h3 a:hover {
  color: #000000;
}
.woocommerce ul.digital-downloads li a:hover {
  color: #000000;
}
.woocommerce .single-product .kalium-woocommerce-product-gallery .main-product-images:hover .product-gallery-lightbox-trigger,
.woocommerce.single-product .single-product-images .kalium-woocommerce-product-gallery .main-product-images .nextprev-arrow i {
  color: #000000;
}
.wpb_wrapper .lab-vc-products-carousel .products .nextprev-arrow i {
  color: #000000;
}
.main-header.menu-type-standard-menu .standard-menu-container ul.menu ul li.menu-item-has-children > a:before,
.main-header.menu-type-standard-menu .standard-menu-container div.menu > ul ul li.menu-item-has-children > a:before {
  border-color: transparent transparent transparent #ffffff;
}
.fullscreen-menu.menu-skin-main {
  background-color: #000000;
}
.fullscreen-menu.fullscreen-menu.menu-skin-main.translucent-background {
  background-color: rgba(0,0,0,0.9);
}
.main-header.menu-skin-main.menu-type-full-bg-menu .fullscreen-menu {
  background-color: #000000;
}
.main-header.menu-skin-main.menu-type-full-bg-menu .fullscreen-menu.translucent-background {
  background-color: rgba(0,0,0,0.9);
}
.single-portfolio-holder .portfolio-navigation a:hover i {
  color: #000000;
}
.wpb_wrapper .lab-blog-posts .blog-post-entry .blog-post-image a .hover-display {
  background-color: rgba(0,0,0,0.8);
}
.wpb_wrapper .lab-blog-posts .blog-post-entry .blog-post-image a .hover-display.no-opacity {
  background-color: #000000;
}
.main-header.menu-type-full-bg-menu .fullscreen-menu .fullscreen-menu-footer .social-networks li a i {
  color: #000000;
}
.wrapper a:after,
footer.site-footer a:after {
  background-color: #000000;
}
.main-header.menu-type-standard-menu .standard-menu-container div.menu > ul ul li.menu-item-has-children:before,
.main-header.menu-type-standard-menu .standard-menu-container ul.menu ul li.menu-item-has-children:before {
  border-color: transparent transparent transparent #cfbfb3;
}
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main ul.menu ul li a,
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main div.menu > ul ul li a {
  color: #ffffff;
}
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main ul.menu ul li a:after,
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main div.menu > ul ul li a:after {
  background-color: #ffffff;
}
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main div.menu > ul > li > a:after,
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main ul.menu > li > a:after {
  background-color: #000000;
}
.go-to-top {
  color: #ffffff;
  background-color: #000000;
}
.go-to-top.visible:hover {
  background-color: #000000;
}
.mobile-menu-wrapper .mobile-menu-container .search-form input,
.mobile-menu-wrapper .mobile-menu-container .search-form input:focus + label {
  color: #000000;
}
.portfolio-holder .thumb .hover-state.hover-style-white p {
  color: #333333;
}
body .lg-outer.lg-skin-kalium-default .lg-progress-bar .lg-progress {
  background-color: #000000;
}
.lg-outer .lg-progress-bar .lg-progress {
  background-color: #000000;
}
.lg-outer .lg-thumb-item:hover,
.lg-outer .lg-thumb-item.active {
  border-color: #000000 !important;
}
.wpb_wrapper .lab-blog-posts .blog-post-entry .blog-post-content-container .blog-post-title a:hover {
  color: #000000;
}
.single-portfolio-holder .social-links-plain .likes .fa-heart {
  color: #000000;
}
.pagination-container span.page-numbers,
.pagination-container a.page-numbers {
  color: #333333;
}
.sidebar-menu-wrapper.menu-type-sidebar-menu .sidebar-menu-container .sidebar-main-menu ul.menu ul > li > a:after,
.post-password-form input[type=submit] {
  background-color: #000000;
}
.header-search-input.menu-skin-main .search-icon a svg {
  fill: #000000;
}
.kalium-wpml-language-switcher.menu-skin-main .language-entry {
  color: #000000;
}
.social-networks.colored-bg li a.custom,
.social-networks.colored-bg-hover li a.custom:hover,
.social-networks.textual.colored li a.custom:after,
.social-networks.textual.colored-hover li a.custom:after {
  background-color: #000000;
}
.social-networks.colored-bg li a.custom:hover {
  background-color: #000000;
}
.social-networks.colored li a.custom,
.social-networks.colored li a.custom i,
.social-networks.colored-hover li a.custom:hover,
.social-networks.colored-hover li a.custom:hover i {
  color: #000000;
}
.single-portfolio-holder .gallery.captions-below .caption a {
  color: #000000;
}
.single-portfolio-holder .gallery.captions-below .caption a:after {
  background-color: #000000;
}
.widget.widget_text .textwidget a:hover {
  color: #000000;
}
.widget.widget_text .textwidget a:after {
  background-color: #000000;
}
.button {
  background-color: #000000;
  color: #ffffff;
}
.widget a.button {
  color: #fff;
}
.button:hover {
  background-color: #000000;
}
.wrapper .button:hover {
  color: #ffffff;
}
.button:active {
  background: #000000;
}
.button-secondary {
  background-color: #ffffff;
  color: #000000;
}
.button-secondary:hover,
.button-secondary:active {
  color: #000000;
}
a.button-secondary:hover,
a.button-secondary:active {
  color: #000000;
}
.button-secondary:hover {
  background: #f7f7f7;
}
.wrapper .button-secondary:hover {
  color: #000000;
}
.button-secondary:active {
  background: #f2f2f2;
}
.labeled-input-row label,
.labeled-textarea-row label {
  border-bottom-color: #000000;
}
.blog-posts .post-item .post-thumbnail blockquote,
.single-post .post-image .post-quote blockquote {
  color: #000000;
}
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main div.menu > ul > li > a,
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main ul.menu > li > a {
  color: #000000;
}
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main div.menu > ul ul,
.main-header.menu-type-standard-menu .standard-menu-container.menu-skin-main ul.menu ul {
  background-color: #000000;
}
.single-post .post-comments:before {
  border-top-color: #ffffff;
}
.pagination--normal .page-numbers.current {
  color: #000000;
}
.woocommerce .woocommerce-cart-form .shop_table .cart_item .product-subtotal span {
  color: #000000;
}
.woocommerce-checkout .checkout-form-option--header .woocommerce-info {
  border-top-color: #000000;
}
.woocommerce-checkout .checkout-form-option--header .woocommerce-info a,
.woocommerce-checkout .checkout-form-option--header .woocommerce-info a:hover {
  color: #000000;
}
.woocommerce-checkout .checkout-form-option--header .woocommerce-info a:after {
  background-color: #000000;
}
.woocommerce-account .wc-my-account-tabs .woocommerce-MyAccount-navigation ul li.is-active a {
  border-right-color: #ffffff;
}
.woocommerce-message a:hover {
  color: #333333;
}
.woocommerce .woocommerce-Reviews #review_form_wrapper {
  background-color: #ffffff;
}
.woocommerce .woocommerce-Reviews .comment-form .comment-form-rating .stars span a:before {
  color: #999;
}
.woocommerce .woocommerce-Reviews .comment-form .comment-form-rating .stars span a.active ~ a:before {
  color: #999;
}
.woocommerce .woocommerce-Reviews .comment-form .comment-form-rating .stars span:hover a:before {
  color: #666666;
}
.woocommerce .woocommerce-Reviews .comment-form .comment-form-rating .stars span:hover a:hover ~ a:before {
  color: #999;
}
.woocommerce .woocommerce-Reviews .comment-form .comment-form-rating .stars.has-rating span a:before {
  color: #000000;
}
.woocommerce .woocommerce-Reviews .comment-form .comment-form-rating .stars.has-rating span a.active ~ a:before {
  color: #999;
}
.woocommerce .shop-categories .product-category-col > .product-category a:hover .woocommerce-loop-category__title,
.woocommerce .shop-categories .product-category-col > .product-category a:hover h3 {
  color: #000000;
}
.woocommerce .woocommerce-cart-form .shop_table .cart_item .product-remove a:hover i {
  color: #000000;
}
.blog-posts .post-item .post-thumbnail .post-hover {
  background-color: rgba(0,0,0,0.9);
}
.blog-posts .post-item .post-thumbnail .post-hover.post-hover--no-opacity {
  background-color: #000000;
}
.labeled-input-row--label {
  border-bottom-color: #cfbfb3;
}
.lg-outer .lg .lg-progress-bar .lg-progress {
  background-color: #000000;
}
.site-footer .footer-widgets .widget .widgettitle {
  color: #000000;
}
.labeled-input-row label,
.labeled-textarea-row label {
  color: #000000;
}
.labeled-textarea-row textarea {
  background-image: linear-gradient(#cfbfb3 1px,transparent 1px);
}
.labeled-input-row input {
  border-bottom-color: #cfbfb3;
}
.wpb_wrapper .lab-blog-posts .blog-post-entry .blog-post-content-container .blog-post-title a,
.blog-posts .post-item .post-details .post-title a {
  color: #000000;
}
.pagination--normal .page-numbers {
  color: #000000;
}
.blog-posts .post-item.template-rounded .post-thumbnail .post-format-icon {
  color: #333333;
}
.widget-area .widget li a,
.widget ul ul a:before {
  color: #000000;
}
.woocommerce.single-product .summary .single_variation_wrap .single_variation,
.woocommerce.single-product .summary p.price {
  color: #000000;
}
.woocommerce .products .product.catalog-layout-full-bg .product-internal-info {
  background-color: #000000;
}
.woocommerce .shop-categories .product-category a:hover .woocommerce-loop-category__title,
.woocommerce .shop-categories .product-category a:hover h3 {
  color: #000000;
}
.lab-divider .lab-divider-content {
  color: #000000;
}
.contact-form .button .loading-bar {
  background-color: #333333;
}
.contact-form .button .loading-bar span {
  background-color: #000000;
}
.vc_row .vc_tta-tabs.vc_tta-style-theme-styled-minimal .vc_tta-tabs-list li.vc_active a {
  color: #000000;
}
.woocommerce .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__price ins .amount,
.woocommerce .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item__price > .amount,
.woocommerce .summary > .price,
.woocommerce .summary .single_variation_wrap .single_variation {
  color: #000000;
}
.woocommerce .products .product .item-info .price ins,
.woocommerce .products .product .item-info .price > .amount {
  color: #000000;
}
.pagination-container a.page-numbers.current,
.pagination-container a.page-numbers:hover,
.pagination-container span.page-numbers.current,
.pagination-container span.page-numbers:hover,
.woocommerce-pagination a.page-numbers.current,
.woocommerce-pagination a.page-numbers:hover,
.woocommerce-pagination span.page-numbers.current,
.woocommerce-pagination span.page-numbers:hover {
  color: #000000;
}
.woocommerce .products .product .item-info .add_to_cart_button:focus {
  color: #000000;
}
.widget ul ul a:before {
  background-color: #000000;
}
.woocommerce .summary p {
  color: #333333;
}
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=url],
input[type=tel] {
  color: #000000;
}
.single-post .post .author-info--details .author-name,
.single-post .post .post-meta a {
  color: #000000;
}
.single-post .post-comments--list .comment .commenter-details .in-reply-to span {
  color: #000000;
}
.single-post .comment-form > p.comment-form-cookies-consent input[type=checkbox]:before,
input[type=checkbox]:before,
input[type=radio]:before {
  background-color: #000000;
}
.btn.btn-default {
  background-color: #000000;
}
.pricing-table--default .plan .plan-head {
  background-color: #000000;
}
.woocommerce .add_to_cart_button:hover {
  color: #000000;
}
.woocommerce .add_to_cart_button:after {
  background-color: #000000;
}
.woocommerce .add_to_cart_button + .added-to-cart {
  color: #000000;
}
.woocommerce .products .product.catalog-layout-full-bg .tooltip-inner {
  color: #000000;
}
.woocommerce .products .product .item-info .add_to_cart_button.loading {
  color: #000000;
}
.woocommerce .summary .single_variation_wrap .single_variation,
.woocommerce .summary p.price {
  color: #000000;
}
.blog-posts .post-item .post-thumbnail .post-gallery-images.flickity-enabled .flickity-prev-next-button:hover,
.single-post .post-image .post-gallery-images.flickity-enabled .flickity-prev-next-button:hover {
  color: #000000;
}
.standard-menu-container.menu-skin-main ul.menu > li > a {
  color: #000000;
}
.sn-skin-default .sn-text {
  color: #000000;
}
.standard-menu-container.menu-skin-main ul.menu > li > a:after {
  background-color: #000000;
}
.toggle-bars.menu-skin-main .toggle-bars__bar-line {
  background-color: #000000;
}
.toggle-bars.menu-skin-main .toggle-bars__text {
  color: #000000;
}
.standard-menu-container.menu-skin-main ul.menu ul {
  background-color: #000000;
}
.fullscreen-menu .fullscreen-menu-footer .social-networks li a i {
  color: #000000;
}
.breadcrumb__container span[property="itemListElement"] {
  color: #000000;
}
.breadcrumb__container span[property="itemListElement"]:after {
  background-color: #000000;
}
.header-logo.logo-text.menu-skin-main .logo-text {
  color: #000000;
}
.header-block__item .woocommerce-account-link__icon svg {
  fill: #000000;
}
.header-block__item .woocommerce-account-link__icon svg .st0-single-neutral-circle {
  stroke: #000000;
}
.top-header-bar .raw-text-widget.menu-skin-main {
  color: #000000;
}
.header-search-input.menu-skin-main .search-field span,
.header-search-input.menu-skin-main .search-field input {
  color: #000000;
}
.cart-totals-widget.menu-skin-main .cart-total {
  color: #000000;
}
.cart-totals-widget.menu-skin-main .cart-total:after {
  background-color: #000000;
}
.cart-totals-widget .text-before {
  color: #000000;
}
.sidebar-menu-wrapper .sidebar-menu-container .sidebar-main-menu div.menu>ul a:hover,
.sidebar-menu-wrapper .sidebar-menu-container .sidebar-main-menu ul.menu a:hover {
  color: #000000;
}
.like-icon {
  color: #000000;
}
.like-icon .like-icon__icon svg {
  fill: #000000;
}
.like-icon .like-icon__icon .stroke-color {
  stroke: #000000;
}
.like-icon .like-icon__bubble {
  background-color: #000000;
}
.portfolio-holder .item-box .info p a:hover,
.product-filter ul li a:hover,
.single-portfolio-holder .social-links-plain .share-social .social-links a:hover {
  color: #000000;
}
.single-portfolio-holder .social-links-plain .share-social .social-links a {
  color: #333333;
}
.adjacent-post-link__icon,
.adjacent-post-link__text-secondary,
.adjacent-post-link__text-primary {
  color: #333333;
}
.adjacent-post-link:hover .adjacent-post-link__icon,
.adjacent-post-link:hover .adjacent-post-link__text-primary {
  color: #000000;
}
.site-footer .footer-bottom-content a,
.site-footer .footer-widgets .widget .textwidget {
  color: #333333;
}
.widget.widget_recent_comments li {
  color: #333333;
}
